<!DOCTYPE html>
<html ng-app="MyApp">
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">


	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/angular.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</head>
<body ng-controller="MainCtrl">
	<div class="container">
		<h1>List</h1>

		<div class="col-md-6">
			<table class="table">
				<tr>
					<th>Name</th>
					<th>Age</th>
					<th>Options</th>
				</tr>
				<tr ng-repeat="student in list">
					<td>{{student.name}}</td>
					<td>{{student.age}}</td>
					<td><button class="btn btn-primary" ng-click="edit(student.id)">Edit</button></td>
				</tr>
			</table>
		</div>	

		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label">Name</label>
				<input class="form-control" ng-model="student.name" />
			</div>
			<div class="form-group">
				<label class="control-label">Age</label>
				<input class="form-control" ng-model="student.age" />
			</div>
			<input type="submit" class="form-control btn-primary" value="Save">	
		</div>
	</div>

</body>
</html>